/** FORMS **/
form {
  @apply sm:max-w-lg;
  &.green-gradient {
    @apply bg-gradient-to-br from-green-500 to-green-400 text-white px-6 py-12;
    @screen md {
      @apply p-12;
    }
  }
}
select {
  @apply border-orange-100 rounded-full;
  &:focus-visible,
  &:focus,
  &:active {
    @apply outline-none;
  }
}

.form-group {
  @apply flex items-center relative my-6 h-10;
}
.form-group > input:not([type='radio']),
.form-group > select {
  @apply font-normal text-black flex-1 px-4 py-2 outline-none rounded-none;
}
.form-group > input:not([type='radio']):active,
.form-group > select:active {
  @apply outline-none;
}
.form-group > input:not([type='radio']):focus-visible,
.form-group > select:focus-visible {
  @apply outline-none;
}

.form-group > label {
  @apply flex items-center text-xs w-16 font-semibold pr-2 h-full;
  @screen sm {
    @apply px-4 w-24;
  }
}
.form-group > input[type='radio'] + label {
  @apply text-base font-normal w-auto;
}
.form-group.green-label {
  @apply h-auto block m-0 mb-4;
  // @screen xs {
  //   @apply flex-wrap m-0 mb-4;
  // }
  @screen sm {
    @apply flex flex-nowrap;
  }
}
.form-group.green-label > label {
  @apply flex flex-nowrap justify-center items-center text-center bg-green text-orange text-xs font-semibold p-2 w-auto max-w-max h-auto;
  // @screen xs {
  //   @apply p-2 w-auto h-auto;
  // }
  @screen sm {
    @apply py-2 px-4 w-24 max-w-none h-10;
  }
}
.form-group.green-label > input:not([type='radio']) {
  @apply block w-full;
}

.form-group.green-label-submit {
  @apply block h-auto;
  button[type='submit'] {
    @apply block w-full max-w-none py-3;
  }
}

.form-group.radio {
  @apply my-2;
  &:first-child {
    @apply mt-6;
  }
}

.form-group .quantity-input-wrapper input[type='number'] {
  @apply bg-white flex-initial w-16 px-4 py-2 mx-0 border-r border-l border-gray-100 text-center rounded-none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group .quantity-input-wrapper input[type='number']:focus-visible,
.form-group .quantity-input-wrapper input[type='number']:focus {
  @apply bg-gray-100 outline-none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
