/** FORMS **/
form {
  @apply border border-gray-100 p-6 sm:p-12 sm:max-w-lg mx-auto;
  &.green-gradient {
    @apply bg-gradient-to-br from-green-500 to-green-400 text-white;
  }
}

.form-group {
  @apply flex items-center relative my-6 h-10;
}
.form-group > input:not([type='radio']),
.form-group > select {
  @apply font-normal text-black flex-1 px-4 py-2 outline-none rounded-none;
}
.form-group > input:not([type='radio']):active,
.form-group > select:active {
  @apply outline-none;
}
.form-group > input:not([type='radio']):focus-visible,
.form-group > select:focus-visible {
  @apply outline-none;
}
.form-group.green-label > label {
  @apply flex items-center justify-center text-center w-24 bg-green text-orange text-xs font-semibold px-2 h-full;
  @screen sm {
    @apply px-4;
  }
}
.form-group.green-label > input:not([type='radio']) {
  @apply flex-1 w-40;
  // flex: 1 1 10rem;
}
.form-group .quantity-input-wrapper input[type='number'] {
  @apply bg-white flex-initial w-16 px-4 py-2 mx-0 border-r border-l border-r-gray-100 border-l-gray-100 text-center rounded-none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group .quantity-input-wrapper input[type='number']:focus-visible,
.form-group .quantity-input-wrapper input[type='number']:focus {
  @apply bg-gray-100 outline-none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
