body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.clearfix {
  clear: both;
}

@keyframes infinteSpin {
  from {
    transform: translateX(-0.5rem) translateY(-0.5rem) rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: translateX(-0.5rem) translateY(-0.5rem) rotate(360deg);
    transform-origin: center;
  }
}

header nav > * {
  @apply py-1 px-1 font-semibold sm:px-2;
}

a.brand {
  @apply relative font-bold text-orange;
}
a.brand:after {
  content: '';
  @apply absolute bottom-0 left-0 bg-orange h-px w-0 transform translate-y-1 transition-all duration-100;
}
a.brand:hover:after {
  @apply w-full;
}

button,
a.button {
  @apply relative inline-block bg-gradient-to-b from-orange-500 to-orange-400 text-sm font-bold max-w-max py-2 px-4 transition-all duration-200 overflow-hidden;
}
button:hover,
a.button:hover {
  @apply to-orange-500 shadow-md;
}
button:active,
a.button:active {
  @apply shadow-none;
}
/* button:hover,
a.button:hover {
  @apply relative;
} */
/* button::after,
a.button::after {
  content: '';
  @apply absolute w-64 h-64 bg-orange-100 bg-opacity-25 rounded-full;
  inset: 0;
  transform: scale(0.001);
  transform-origin: center;
}
button:hover::after,
a.button:hover::after {
  transform: scale(3);
  transition: transform 300ms ease-in-out;
} */
button.full-width,
a.button.full-width {
  @apply block max-w-full w-full p-6;
}
button.text,
a.button.text {
  @apply bg-none shadow-none;
}
button.text.loading,
a.button.text.loading {
  @apply text-transparent;
}
button.white,
a.button.white {
  @apply bg-none bg-white shadow-none transition-colors duration-200;
}
button.white:hover,
a.button.white:hover {
  @apply bg-orange-100;
}
button.white:active,
a.button.white:active {
  @apply bg-orange-500;
}

button.loading,
a.button.loading {
  @apply relative;
}
button.loading:before,
a.button.loading:before {
  content: '';
  @apply absolute inset-0 bg-orange;
}
button.white.loading:before,
a.button.white.loading:before {
  content: '';
  @apply absolute inset-0 bg-white;
}
button.text.loading:before,
a.button.text.loading:before {
  content: '';
  @apply absolute inset-0 bg-transparent;
}
button.loading:after,
a.button.loading:after {
  content: '';
  @apply absolute top-1/2 left-1/2 transform w-4 h-4 border-2 border-black rounded-full;
  border-right-color: transparent;
  animation: infinteSpin 500ms linear infinite;
}

/** FORMS **/
.form-group {
  @apply flex flex-wrap items-center my-6;
}
.form-group > label {
  @apply font-semibold text-sm flex-none w-auto pr-4;
}
.form-group > input:not([type='radio']),
.form-group > select {
  @apply font-normal bg-gray-200 flex-1 px-4 py-2 outline-none;
}
.form-group > input:not([type='radio']):active,
.form-group > select:active {
  @apply outline-none;
}
.form-group > input:not([type='radio']):focus-visible,
.form-group > select:focus-visible {
  @apply outline-none;
}
.form-group .quantity-input-wrapper input[type='number'] {
  @apply bg-white flex-initial w-16 px-4 py-2 mx-1 text-center;
}
.form-group .quantity-input-wrapper input[type='number']:focus-visible {
  @apply bg-gray-100 outline-none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.cartFlip-enter,
.cartFlip-leave-to {
  top: 6rem;
  transform: translateY(-100vh);
  transform-origin: top;
  transition: all 500ms ease-in-out;
  z-index: -1;
}
.cartFlip-enter-to,
.cartFlip-leave {
  top: 6rem;
  transform: translateY(0vh);
  transform-origin: top;
  transition: all 500ms ease-in-out;
  z-index: -1;
}

/** VUE Transitions **/
.slideUp-enter,
.slideUp-leave-to {
  transform: translateY(4rem);
  transition: all 200ms ease-in;
}
.slideUp-enter-to,
.slideUp-leave {
  transform: translateY(0rem);
  transition: all 200ms ease-in;
}

.slideInRight-enter,
.slideInRight-leave-to {
  transition: all 200ms ease-in;
}
.slideInRight-enter .inner-wrapper,
.slideInRight-leave-to .inner-wrapper {
  transform: translateX(32rem);
  transition: all 200ms ease-in;
}
.slideInRight-enter-to,
.slideInRight-leave {
  transition: all 200ms 200ms ease-in;
}
.slideInRight-enter-to .inner-wrapper,
.slideInRight-leave .inner-wrapper {
  transform: translateX(0rem);
  transition: all 200ms 0ms ease-in;
}
